In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
mainpath = "C:/Users/mromo/Desktop/Rappi/Datasets"
debt_path = mainpath + "/S36/Data/Deuda Total RT.csv"
g36_path = mainpath + "/S36/Data/Detalle Ganancia S36.csv"

g35_path = mainpath + "/S35/Datos/Detalle Ganancia S35.csv"
bankprod = mainpath + "/Formato Banco Produccion S35.xls"
bankdebt = mainpath + "/Formato Banco Pendientes S35.xls"

In [3]:
df_debt = pd.read_csv(debt_path)
df_g36 = pd.read_csv(g36_path)
df_g35 = pd.read_csv(g35_path)
df_bankprod = pd.read_excel(bankprod)
df_bankdebt = pd.read_excel(bankdebt)

In [4]:
df_g36

,storekeeper_id,created_at,name,model_id,total,description
0,10042,2018-09-07 14:08:13.51,service_cost,146039,1400.0,NaN
1,10042,2018-09-07 15:05:42.466,service_cost,145881,2000.0,NaN
2,10042,2018-09-07 15:05:42.49,surcharge_paid_for_rappi,145881,300.0,NaN
3,10042,2018-09-07 15:51:48.671,service_cost,146434,1400.0,NaN
4,10042,2018-09-07 15:51:48.685,tip,146434,250.0,NaN
5,10042,2018-09-07 15:51:48.699,surcharge_paid_for_rappi,146434,275.0,NaN
6,10042,2018-09-07 16:41:37.689,service_cost,146273,1400.0,NaN
7,10042,2018-09-07 16:41:37.713,surcharge_paid_for_rappi,146273,475.0,NaN
8,10042,2018-09-07 17:28:51.716,service_cost,146722,1400.0,NaN
9,10042,2018-09-07 17:28:51.73,tip,146722,500.0,NaN
10,10042,2018-09-07 19:10:00.765,service_cost,146996,1400.0,NaN
11,10042,2018-09-07 19:55:21.984,service_cost,147228,1400.0,NaN
12,10042,2018-09-07 20:48:37.145,service_cost,147598,1400.0,NaN
13,10042,2018-09-07 20:48:37.162,tip,147598,1000.0,NaN
14,10042,2018-09-07 22:28:44.631,service_cost,148396,1400.0,NaN
15,10042,2018-09-07 22:38:52.994,service_cost,148526,1400.0,NaN
16,10042,2018-09-07 22:38:53.01,tip,148526,1000.0,NaN
17,10042,2018-09-07 23:16:31.289,service_cost,149055,1400.0,NaN
18,10042,2018-09-07 23:50:58.963,service_cost,149256,1400.0,NaN
19,10042,2018-09-07 23:50:58.979,tip,149256,1000.0,NaN
20,10042,2018-09-08 12:50:55.636,service_cost,149886,1400.0,NaN
21,10042,2018-09-08 13:16:10.603,service_cost,149937,1400.0,NaN
22,10042,2018-09-08 13:16:10.617,tip,149937,1000.0,NaN
23,10042,2018-09-08 13:44:03.605,service_cost,150027,1400.0,NaN
24,10042,2018-09-08 13:44:03.622,tip,150027,1500.0,NaN
25,10042,2018-09-08 14:22:37.616,service_cost,150053,1400.0,NaN
26,10042,2018-09-08 15:12:35.263,service_cost,150540,1400.0,NaN
27,10042,2018-09-08 15:12:35.277,tip,150540,1000.0,NaN
28,10042,2018-09-08 15:26:56.432,service_cost,150512,1400.0,NaN
29,10042,2018-09-08 16:22:44.925,service_cost,150914,1400.0,NaN
...,...,...,...,...,...,...
24633,11815,2018-09-08 14:26:34.277,service_cost,150325,1400.0,NaN
24634,11815,2018-09-08 15:27:22.77,service_cost,150685,1400.0,NaN
24635,11815,2018-09-08 15:58:06.085,service_cost,150770,1400.0,NaN
24636,11815,2018-09-08 15:58:06.101,tip,150770,1000.0,NaN
24637,11815,2018-09-08 15:58:06.117,surcharge_paid_for_rappi,150770,450.0,NaN
24638,11815,2018-09-08 20:41:12.102,service_cost,152197,1400.0,NaN
24639,11815,2018-09-08 21:20:44.131,service_cost,152473,1400.0,NaN
24640,11815,2018-09-08 21:20:44.145,tip,152473,500.0,NaN
24641,11815,2018-09-08 21:49:48.156,service_cost,152780,1400.0,NaN
24642,11815,2018-09-08 22:08:00.217,service_cost,153048,1400.0,NaN
24643,11815,2018-09-08 22:08:00.231,tip,153048,500.0,NaN
24644,11815,2018-09-08 22:37:21.373,service_cost,153006,1400.0,NaN
24645,11815,2018-09-08 22:37:21.389,tip,153006,500.0,NaN
24646,11815,2018-09-08 22:37:21.404,surcharge_paid_for_rappi,153006,300.0,NaN
24647,11815,2018-09-09 20:18:28.121,service_cost,156128,1400.0,NaN
24648,11815,2018-09-09 20:18:28.145,tip,156128,500.0,NaN
24649,11815,2018-09-09 20:48:47.414,service_cost,156209,1400.0,NaN
24650,11815,2018-09-09 20:48:47.442,tip,156209,500.0,NaN
24651,11815,2018-09-09 21:08:43.609,service_cost,156279,1400.0,NaN
24652,11815,2018-09-09 21:08:43.625,tip,156279,500.0,NaN
24653,11815,2018-09-09 21:20:05.043,service_cost,156414,1400.0,NaN
24654,11815,2018-09-09 21:20:05.078,tip,156414,500.0,NaN
24655,11815,2018-09-09 21:36:58.556,service_cost,156432,1400.0,NaN
24656,11815,2018-09-09 22:08:40.216,service_cost,156658,1400.0,NaN
24657,11815,2018-09-09 22:08:40.239,surcharge_paid_for_rappi,156658,50.0,NaN
24658,11816,2018-09-09 14:56:33.424,service_cost,154716,1400.0,NaN
24659,11816,2018-09-09 14:56:33.44,tip,154716,500.0,NaN
24660,11816,2018-09-09 15:45:19.901,service_cost,154975,1400.0,NaN
24661,11816,2018-09-09 15:45:19.916,tip,154975,500.0,NaN
24662,11818,2018-09-09 22:30:57.065,service_cost,156700,1400.0,NaN

In [5]:
df_debt['deuda']=df_debt['deuda'].astype(int)

In [6]:
df_g35 = df_g35.drop(labels = 'description', axis = 1)
df_g35['total'] = df_g35['total'].astype(int)

In [7]:
df_g36 = df_g36.drop(labels = 'description', axis = 1)
df_g36['total'] = df_g36['total'].astype(int)

In [8]:
g36_res = df_g36.groupby('storekeeper_id')
g36_res = g36_res.total.sum()

In [9]:
g35_res = df_g35.groupby('storekeeper_id')
g35_res = g35_res.total.sum()

In [10]:
df_s35 = pd.DataFrame(g35_res)
df_s36 = pd.DataFrame(g36_res)

In [11]:
totalprod = pd.merge(df_s35,df_s36, on='storekeeper_id', how = 'outer')

In [12]:
totalprod = totalprod.rename(columns = {'total_x':'Prod S35','total_y':'Prod S36'})

In [13]:
totalprod = totalprod.fillna(0)

In [14]:
df_debt = df_debt.sort_values('storekeeper_id')

In [15]:
finalprod = pd.merge(totalprod,df_debt,on='storekeeper_id', how='outer')

In [16]:
finalprod = finalprod.fillna(0)

In [17]:
finalprod

     storekeeper_id  Prod S35  Prod S36     deuda
0              3180      40.0       0.0       0.0
1              4160      40.0       0.0       0.0
2              6217      80.0       0.0       0.0
3              6720      50.0       0.0       0.0
4             10042   26675.0   73125.0 -187859.0
5             10043    1900.0       0.0  -28000.0
6             10045    3000.0       0.0   -2115.0
7             10047  293450.0  219100.0 -320669.0
8             10048  215550.0  190575.0 -370239.0
9             10050   15225.0   17000.0  -53630.0
10            10054   21900.0   14500.0   -4200.0
11            10059  234275.0  168575.0 -465367.0
12            10060   99500.0   83725.0 -336238.0
13            10065  147600.0   21675.0  -73745.0
14            10066  154975.0  132920.0 -249311.0
15            10067  114725.0   49950.0 -121728.0
16            10068  177275.0   81450.0   -7883.0
17            10069    2800.0    6800.0  -83530.0
18            10070   90050.0   32475.0 -120142.0
19            10071   34925.0   25400.0  -55240.0
20            10072   28350.0       0.0  -64329.0
21            10074    7075.0       0.0  -20660.0
22            10075    2400.0       0.0   -8490.0
23            10079    6600.0    2400.0  -13390.0
24            10080  141125.0   28050.0 -212380.0
25            10082  195625.0   47725.0 -192029.0
26            10083  203700.0  151700.0 -408140.0
27            10085   12875.0    4300.0  -47230.0
28            10086   14725.0   11400.0  -41689.0
29            10088  200250.0   73200.0 -228032.0
..              ...       ...       ...       ...
878           11339       0.0       0.0   -3063.0
879           11340       0.0       0.0  -14988.0
880           11353       0.0       0.0   -7025.0
881           11370       0.0       0.0  -10000.0
882           11378       0.0       0.0  -10000.0
883           11385       0.0       0.0  -10933.0
884           11409       0.0       0.0  -13940.0
885           11413       0.0       0.0   -1190.0
886           11499       0.0       0.0  -10000.0
887           11503       0.0       0.0  -15000.0
888           11512       0.0       0.0  -10000.0
889           11612       0.0       0.0   -6321.0
890           11616       0.0       0.0   -6310.0
891           11617       0.0       0.0  -10560.0
892           11618       0.0       0.0  -13555.0
893           11619       0.0       0.0  -12170.0
894           11658       0.0       0.0   -8859.0
895           11681       0.0       0.0   -2294.0
896           11683       0.0       0.0   -6786.0
897           11728       0.0       0.0   -1400.0
898           11779       0.0       0.0  -99215.0
899           11812       0.0       0.0  -16506.0
900           11814       0.0       0.0  -25400.0
901           11857       0.0       0.0  -12800.0
902           11858       0.0       0.0   -2000.0
903           11860       0.0       0.0   -2150.0
904           11862       0.0       0.0  -18812.0
905           11866       0.0       0.0   -4990.0
906           11868       0.0       0.0   -6246.0
907           11893       0.0       0.0   -6680.0

[908 rows x 4 columns]

In [18]:
finalprod['Final'] = finalprod['Prod S35'] + finalprod['Prod S36'] + finalprod['deuda']

In [19]:
df_bankprod = df_bankprod.reset_index()

In [20]:
df_bankprod = df_bankprod.rename(columns = {'index':'storekeeper_id'})
df_bankprod

,storekeeper_id,Nº Cuenta de Cargo,Nº Cuenta de Destino,Banco Destino,Rut Beneficiario,Dig. Verif. Beneficiario,Nombre Beneficiario,Monto Transferencia,Nro.Factura Boleta (1),Nº Orden de Compra(1),Tipo de Pago(2),Mensaje Destinatario (3),Email Destinatario(3),Cuenta Destino inscrita como(4)
0,11504,21225168,19407022,12,19407022,5,Juan Luis Leonardi Michel,28625,NaN,NaN,OTR,Pago RT Semana 35,jlleonardileo9696@gmail.com,Juan Luis Leonardi Michel
1,10042,21225168,25616019,12,25616019,6,Gustavo Mendez,26675,NaN,NaN,OTR,Pago RT Semana 35,gustavmendez_82@hotmail.com,Gustavo Mendez
2,10043,21225168,26182433,12,26182433,7,Franklin Inciarte,1900,NaN,NaN,OTR,Pago RT Semana 35,franklininciarte14@gmail.com,Franklin Inciarte
3,10045,21225168,25608820,12,25608820,7,Jose Abogado,3000,NaN,NaN,OTR,Pago RT Semana 35,jose_daniel_132@hotmail.com,Jose Abogado
4,10112,21225168,6542583,12,6542583,1,Filadelfio Araya Diaz,331908,NaN,NaN,OTR,Pago RT Semana 35,josedugarte45193@gmail.com,Filadelfio Araya Diaz
5,10112,21225168,26353200,12,26353200,7,Arnaldo José Castañeda Dugarte,331908,NaN,NaN,OTR,Pago RT Semana 35,josedugarte45193@gmail.com,Arnaldo José Castañeda Dugarte
6,10047,21225168,165641308,1,25418251,6,Nestor Velasquez,293450,NaN,NaN,OTR,Pago RT Semana 35,yeisonrx115@hotmail.com,Nestor Velasquez
7,10047,21225168,260999656,12,26099965,6,Vanessa Carolina Briceño Lagos,293450,NaN,NaN,OTR,Pago RT Semana 35,yeisonrx115@hotmail.com,Vanessa Carolina Briceño Lagos
8,10048,21225168,26239211,12,26239211,2,Roswell Torres Vargas,215550,NaN,NaN,OTR,Pago RT Semana 35,edwin14aguirre@hotmail.com,Roswell Torres Vargas
9,10050,21225168,18167295,12,18167295,1,Nicolas Pechieu,15225,NaN,NaN,OTR,Pago RT Semana 35,nicolaspechieu@hotmail.com,Nicolas Pechieu
10,10054,21225168,26060336,12,26060336,1,Jesus Nieto,6500,NaN,NaN,OTR,Pago RT Semana 35,jesusnieto305@gmail.com,Jesus Nieto
11,10059,21225168,26122985,12,26122985,4,Juan Tineo Portillo,234275,NaN,NaN,OTR,Pago RT Semana 35,joserafaelvielma@hotmail.com,Juan Tineo Portillo
12,10060,21225168,26035677,12,26035677,1,Gerardo Sanchez,98800,NaN,NaN,OTR,Pago RT Semana 35,gasv666@gmail.com,Gerardo Sanchez
13,10064,21225168,26187337,12,26187337,0,Yein Martin Armas Santana,59650,NaN,NaN,OTR,Pago RT Semana 35,cruzangelo2008@hotmail.com,Yein Martin Armas Santana
14,10066,21225168,25915701,12,25915701,3,Jhonny Rojas,154975,NaN,NaN,OTR,Pago RT Semana 35,rojastovar83@gmail.com,Jhonny Rojas
15,10067,21225168,25985175,12,25985175,0,Miguel Duque,114725,NaN,NaN,OTR,Pago RT Semana 35,migueladd88ch@hotmail.com,Miguel Duque
16,10048,21225168,26103410,12,26103410,7,Carlos Luis Morales Olivos,215550,NaN,NaN,OTR,Pago RT Semana 35,edwin14aguirre@hotmail.com,Carlos Luis Morales Olivos
17,10048,21225168,50013901868,51,15799221,K,Hernan Esteban Delgado Albornoz,215550,NaN,NaN,OTR,Pago RT Semana 35,edwin14aguirre@hotmail.com,Hernan Esteban Delgado Albornoz
18,10069,21225168,25982798,12,25982798,1,Dixon jose Pino Mota,2800,NaN,NaN,OTR,Pago RT Semana 35,dixonpino@gmail.com,Dixon jose Pino Mota
19,10069,21225168,175927433,12,25982798,1,Dixon Jose Pino Mota,2800,NaN,NaN,OTR,Pago RT Semana 35,dixonpino@gmail.com,Dixon Jose Pino Mota
20,10070,21225168,260989553,12,26098955,3,Saul Antonio Valero Rodriguez,90050,NaN,NaN,OTR,Pago RT Semana 35,saulantoniospace123@gmail.com,Saul Antonio Valero Rodriguez
21,10071,21225168,112815260,1,23332545,7,Carlos Barcia,34925,NaN,NaN,OTR,Pago RT Semana 35,carlos78.cba@gmail.com,Carlos Barcia
22,10072,21225168,4040099391,53,18512666,8,Eduardo Vasquez,28350,NaN,NaN,OTR,Pago RT Semana 35,edvasquezlemus@gmail.com,Eduardo Vasquez
23,10074,21225168,70697459,37,14016269,8,Alvaro Venegas,7075,NaN,NaN,OTR,Pago RT Semana 35,alvaro.sebastian.v@gmail.com,Alvaro Venegas
24,10075,21225168,207318584,39,17023906,7,Saul Serrano,2400,NaN,NaN,OTR,Pago RT Semana 35,sau.serrano@outlook.com,Saul Serrano
25,10079,21225168,16795784,12,16795784,6,Roberto Javier Burgos Perez,6600,NaN,NaN,OTR,Pago RT Semana 35,rjavierbp@gmail.com,Roberto Javier Burgos Perez
26,10080,21225168,26335232,12,26335232,7,Jennifer Mariana Arjona Ruiz,141125,NaN,NaN,OTR,Pago RT Semana 35,jonassanchez1977@gmail.com,Jennifer Mariana Arjona Ruiz
27,10082,21225168,25695263,12,25695263,7,Jose De Pinho,195625,NaN,NaN,OTR,Pago RT Semana 35,josedepinho9@gmail.com,Jose De Pinho
28,10048,21225168,50013901868,51,15799221,K,Hernan Esteban Delgado Albornoz,203700,NaN,NaN,OTR,Pago RT Semana 35,edwin14aguirre@hotmail.com,Hernan Esteban Delgado Albornoz
29,10085,21225168,26205813,12,26205813,1,Daniel Mejia,12875,NaN,NaN,OTR,Pago RT Semana 35,mejia.d.mf@gmail.com,Daniel Mejia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,11373,21225168,26097791,12,26097791,1,Eduardo Jose Cedeño Pajariño,22575,NaN,NaN,OTR,Pago RT Semana 35,olysg.juand@gmail.com,Eduardo Jose Cedeño Pajariño
364,11421,21225168,21447538,12,21447538,3,Christopher Filius Guite Monasterio,7875,NaN,NaN,OTR,Pago RT Semana 35,christopher.filius@gmail.com,Christopher Filius Guite Monasterio
365,11556,21225168,26274600,12,26274600,3,Paola Alejandra Briceño Araujo,1400,NaN,NaN,OTR,Pago RT Semana 35,briceo.paola@gmail.com,Paola Alejandra Briceño Araujo
366,11498,21225168,25385119,12,25385119,8,Erick jose dominguez albarran,118950,NaN,NaN,OTR,Pago RT Semana 35,erick23608886@gmail.com,Erick jose dominguez albarran
367,11332,21225168,26369998,12,26369998,k,Luis Enrique Tirado Sánchez,39125,NaN,NaN,OTR,Pago RT Semana 35,luistirado_85@hotmail.com,Luis Enrique Tirado Sánchez
368,11334,21225168,26191535,12,26191535,9,Gerardo paredes,191275,NaN,NaN,OTR,Pago RT Semana 35,wladimir_espinoza@outlook.es,Gerardo paredes
369,10969,21225168,26001914,12,26001914,7,Maria Eugenia Padilla Peres,38500,NaN,NaN,OTR,Pago RT Semana 35,lpjose1739@gmail.com,Maria Eugenia Padilla Peres
370,11104,21225168,26311365,12,26311365,9,Keyla Davila,94475,NaN,NaN,OTR,Pago RT Semana 35,hg32442@gmail.com,Keyla Davila
371,0,21225168,25612986,12,25612986,8,Luis daniel pichardo franklin,69675,NaN,NaN,OTR,Pago RT Semana 35,johancarvajalhotmailcomcarvaja@gmail.com,Luis daniel pichardo franklin
372,11423,21225168,26313187,12,26313187,8,Eduardo Carrera Gutierrez,215875,NaN,NaN,OTR,Pago RT Semana 35,maxcarreraf@hotmail.com,Eduardo Carrera Gutierrez
373,11442,21225168,26276289,12,26276289,0,Jorman Jesús castro Rodríguez,24575,NaN,NaN,OTR,Pago RT Semana 35,jorman.castro8684@gmail.com,Jorman Jesús castro Rodríguez
374,0,21225168,261650312,12,26165031,2,Araujo jimenez breinne david,246575,NaN,NaN,OTR,Pago RT Semana 35,jimmijosemedina@gmail.com,Araujo jimenez breinne david
375,11589,21225168,260915908,12,26091590,8,Herdfold rafael perez berroteran,48950,NaN,NaN,OTR,Pago RT Semana 35,martineztonilberth@gmail.com,Herdfold rafael perez berroteran
376,11521,21225168,25678647,12,25678647,8,Daniela Pereira,63175,NaN,NaN,OTR,Pago RT Semana 35,danielalexander129@gmail.com,Daniela Pereira
377,11586,21225168,25674815,12,25674815,0,Mauro javier graterol leandro,7600,NaN,NaN,OTR,Pago RT Semana 35,maurograterol@hotmail.com,Mauro javier graterol leandro
378,10436,21225168,18634208,1,17711218,6,Pablo Alejandro Acuna Rojo,16500,NaN,NaN,OTR,Pago RT Semana 35,pabloacunarojo@gmail.com,Pablo Alejandro Acuna Rojo
379,11460,21225168,26115541,12,26115541,9,manuel antonio freites albarran,14400,NaN,NaN,OTR,Pago RT Semana 35,manuelfreites.a@gmail.com,manuel antonio freites albarran
380,10785,21225168,26040819,12,26040819,4,José Luis Madero mendoza,114325,NaN,NaN,OTR,Pago RT Semana 35,albertlonga93@gmail.com,José Luis Madero mendoza
381,11422,21225168,25954020,12,25954020,8,Jonathan alexis varela alvarez,37175,NaN,NaN,OTR,Pago RT Semana 35,jonathanvare93@gmail.com,Jonathan alexis varela alvarez
382,11452,21225168,11647633,12,11647633,9,Anamaria vega,32250,NaN,NaN,OTR,Pago RT Semana 35,maickeldavidvillegasrodriguez@gmail.com,Anamaria vega
383,11521,21225168,25678647,12,25678647,8,Daniela pereira,63175,NaN,NaN,OTR,Pago RT Semana 35,danielalexander129@gmail.com,Daniela pereira
384,10068,21225168,25681809,12,25681809,4,Eider hernan henao gutierrez,177275,NaN,NaN,OTR,Pago RT Semana 35,eiderhenao93@gmail.com,Eider hernan henao gutierrez
385,11446,21225168,26334431,12,26334431,6,Susej Querine Rodriguez Bello,108125,NaN,NaN,OTR,Pago RT Semana 35,rodriguezbsusej@gmail.com,Susej Querine Rodriguez Bello
386,11603,21225168,27560201570,12,25352604,1,Luis Hernando Martínez Franco,51725,NaN,NaN,OTR,Pago RT Semana 35,alex232277@outlook.es,Luis Hernando Martínez Franco
387,11566,21225168,25556564,12,25556564,8,Daywil Antonio Velasco duran,67500,NaN,NaN,OTR,Pago RT Semana 35,velascoduran11@gmail.com,Daywil Antonio Velasco duran
388,11445,21225168,25941973,12,25941973,5,Jonathan Alejandro Alarcon Goitia,3750,NaN,NaN,OTR,Pago RT Semana 35,jaag.alarcon@gmail.com,Jonathan Alejandro Alarcon Goitia
389,11448,21225168,19320600,12,19320600,k,Efrain Jesus Ramirez Orrego,3750,NaN,NaN,OTR,Pago RT Semana 35,efrainjesusramirezorrego@gmail.com,Efrain Jesus Ramirez Orrego
390,11461,21225168,66108821,37,17309060,9,Ruben Eugenio Orellana Ahumada,19025,NaN,NaN,OTR,Pago RT Semana 35,reorella@uc.cl,Ruben Eugenio Orellana Ahumada
391,11597,21225168,19401329,12,19401329,9,Jose Maceiras Johansen,3850,NaN,NaN,OTR,Pago RT Semana 35,maceiras.maceiras@gmail.com,Jose Maceiras Johansen
392,11388,21225168,72073975,37,23992530,8,Daniel Felipe Aranda melo,88450,NaN,NaN,OTR,Pago RT Semana 35,dani-12f@hotmail.com,Daniel Felipe Aranda melo

In [21]:
df_bankprod2 = df_bankprod.iloc[:, 0:8]

In [22]:
df_bankdebt = df_bankdebt.reset_index()

In [23]:
df_bankdebt = df_bankdebt.rename(columns = {'index':'storekeeper_id'})

In [24]:
df_bankdebt2 = df_bankdebt.iloc[:,0:8]

In [25]:
finalprod.to_excel(mainpath + "/" + "Cruce Global.xlsx")

In [ ]:
df_bankdebt2