In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
mainpath = "C:/Users/mromo/Desktop/Rappi/Datasets/"
cuentas= "Cuentas Bancarias.csv"
bancario = os.path.join(mainpath,cuentas)
Semanas = {}

In [3]:
ID_RT = input("Ingrese RT a Consultar: ")
ID_RT = int(ID_RT)

Ingrese RT a Consultar: 10612

In [4]:
for x in 26 and range(28,38):
    pagos = "S" + str(x) + "/" + "Pagos Vigentes.xlsx"
    pagable = os.path.join(mainpath,pagos)
    if x < 27:
        pagina = "Resumen s" + str(x)
    else:
        pagina = "semana" + str(x)
    Semanas[x] = pd.read_excel(pagable, pagina, header = 2)

In [5]:
RT_Info = pd.DataFrame(columns = Semanas[30].columns)

In [6]:
RT_Info

Empty DataFrame
Columns: [id, nombre, Sem., dias trabajados, Tiempo de Conexión (minutos), Tiempo de Conexión (horas), Cupos Reservados, Cupos Cumplidos, Cumplimiento (%), Cantidad
Sampling, N° Ordenes Producción, N° Ordenes con Sampling, Producción, Propinas, Ganancia Sampling, Bonos e Incentivos, Ganancias sin Garantía, Garantías Efectivas, Garantías Efectivas2, Liberaciones por semana, Subtotal Ganancias, efectivoRT, efectivoRT real, efectivoRT
pendiente, Subtotal - Efectivo, Descto Equipo, Descto Equipo efectivo, Dif, Total a Pagar, Total Descuento, Total a Pagar2, Ganancias por HoraConexión, Adeudado por RT, Total Semana, Ganancias sin DF cash y sin Propina cash, Delivery Fees con Cash, Monto Líquido Rappi, Total RT con propinas
[sin cash], Dif2, Horas Punta, Horas
Madrugada
y Trasnoche, semana+id
(aux), columna84]
Index: []

[0 rows x 43 columns]

In [7]:
for x in Semanas:
    Semanas[x].rename(columns ={'id':'ID'})
    RT_Info = RT_Info.append(Semanas[x].loc[Semanas[x]['id'] == ID_RT], sort=False)
    print(x)

28
29
30
31
32
33
34
35

In [8]:
Semanas[34].columns

Index(['id', 'nombre', 'Sem.', 'dias trabajados',
       'Tiempo de Conexión (minutos)', 'Tiempo de Conexión (horas)',
       'Cupos Reservados', 'Cupos Cumplidos', 'Cumplimiento (%)',
       'N° Ordenes Producción', 'Cantidad \nSampling',
       'N° Ordenes con Sampling', 'Producción', 'Propinas',
       'Ganancia Sampling', 'Bonos Equipo', 'Incentivos', 'Bonos e Incentivos',
       'Ganancias sin Garantía', 'Garantías Efectivas', 'Garantías Efectivas2',
       'Liberaciones por semana', 'efectivo mal descontado',
       'Subtotal Ganancias', 'efectivoRT', 'efectivoRT real',
       'efectivoRT\npendiente', 'Subtotal - Efectivo', 'Descto Equipo',
       'Descto Equipo efectivo', 'Dif', 'Total a Pagar', 'Total Descuento',
       'Pago 1', 'Pago 2', 'Adeudado por RT', 'Total Semana',
       'Ganancias sin DF cash y sin Propina cash', 'Delivery Fees con Cash',
       'Monto Líquido Rappi', 'Ganancias por hora conexión', 'Dif2',
       'Horas Punta', 'Horas \nMadrugada \ny Trasnoche', 'semana+id\n(aux)',
       'columna84'],
      dtype='object')

In [9]:
RT_Info.columns

Index(['id', 'nombre', 'Sem.', 'dias trabajados',
       'Tiempo de Conexión (minutos)', 'Tiempo de Conexión (horas)',
       'Cupos Reservados', 'Cupos Cumplidos', 'Cumplimiento (%)',
       'Cantidad \nSampling', 'N° Ordenes Producción',
       'N° Ordenes con Sampling', 'Producción', 'Propinas',
       'Ganancia Sampling', 'Bonos e Incentivos', 'Ganancias sin Garantía',
       'Garantías Efectivas', 'Garantías Efectivas2',
       'Liberaciones por semana', 'Subtotal Ganancias', 'efectivoRT',
       'efectivoRT real', 'efectivoRT\npendiente', 'Subtotal - Efectivo',
       'Descto Equipo', 'Descto Equipo efectivo', 'Dif', 'Total a Pagar',
       'Total Descuento', 'Total a Pagar2', 'Ganancias por HoraConexión',
       'Adeudado por RT', 'Total Semana',
       'Ganancias sin DF cash y sin Propina cash', 'Delivery Fees con Cash',
       'Monto Líquido Rappi', 'Total RT con propinas \n[sin cash]', 'Dif2',
       'Horas Punta', 'Horas \nMadrugada \ny Trasnoche', 'semana+id\n(aux)',
       'columna84', 'Semana', 'Propinas sin Cash', 'Propinas en Cash',
       'Total Propinas', 'Ordenes\nRestaurantes', 'Ordenes\nHiper/Super',
       'Ordenes\nExpress', 'Ordenes\nLicores', 'Ordenes\nFarmacias',
       'Producción sin Cash y sin Propinas', 'Producción Total',
       'Producción con Sampling sin Propinas', 'Cupos Mínimos', 'Pagos1',
       'Total a Pagar3', 'efectivo mal descontado', 'Pago 1', 'Pago 2',
       'Ganancias por hora conexión', 'Bonos Equipo', 'Incentivos'],
      dtype='object')

In [10]:
RT_Detail = RT_Info.loc[:,'id':'Total a Pagar']

In [11]:
RT_Detail.dropna(how="all")
RT_Detail['Total a Pagar'].astype(float)

227         0.0
219    234500.0
193    220525.0
175     15996.0
174         NaN
159    123245.0
222         NaN
139         0.0
Name: Total a Pagar, dtype: float64

In [12]:
RT_Detail

,id,nombre,Sem.,dias trabajados,Tiempo de Conexión (minutos),Tiempo de Conexión (horas),Cupos Reservados,Cupos Cumplidos,Cumplimiento (%),Cantidad Sampling,...,Liberaciones por semana,Subtotal Ganancias,efectivoRT,efectivoRT real,efectivoRT pendiente,Subtotal - Efectivo,Descto Equipo,Descto Equipo efectivo,Dif,Total a Pagar
227,10612,John Gonzales Silva,NaN,2,NaN,18.349700,0,0,0.000000,0,...,NaN,4700.0,0,0,0,4700.0,-12500,-4700,-7800,0.0
219,10612,John Gonzales Silva,29,7,5034.12,83.901944,61,40,0.655738,0,...,NaN,256100.0,-6500,-6500,0,249600.0,-15100,-15100,0,234500.0
193,10612,John Gonzales Silva,30,7,5057.92,84.298611,5,0,0.000000,0,...,0,305650.0,-70025,-70025,0,235625.0,-15100,-15100,0,220525.0
175,10612,,31,6,3018.57,50.309500,6,0,0.000000,0,...,0,109600.0,-80440,-80440,0,29160.0,-13164,-13164,0,15996.0
174,10612,,32,7,3914.85,65.247500,0,0,0.000000,0,...,0,NaN,-17927,NaN,NaN,NaN,-10968,NaN,NaN,NaN
159,10612,,33,7,4176.4,69.606667,0,0,0.000000,0,...,0,197125.0,-62912,-62912,0,134213.0,-10968,-10968,0,123245.0
222,10612,,34,7,3316.53,55.275556,0,0,0.000000,0,...,0,NaN,-67291,NaN,NaN,NaN,0,NaN,NaN,NaN
139,10612,,35,2,0.45,0.007500,0,0,0.000000,0,...,0,0.0,0,0,0,0.0,0,0,0,0.0

In [13]:
RT_Detail= RT_Detail.drop(list(RT_Detail)[2:12],axis=1)
RT_Detail

,id,nombre,Producción,Propinas,Ganancia Sampling,Bonos e Incentivos,Ganancias sin Garantía,Garantías Efectivas,Garantías Efectivas2,Liberaciones por semana,Subtotal Ganancias,efectivoRT,efectivoRT real,efectivoRT pendiente,Subtotal - Efectivo,Descto Equipo,Descto Equipo efectivo,Dif,Total a Pagar
227,10612,John Gonzales Silva,NaN,NaN,0,0.0,4700,0,0,NaN,4700.0,0,0,0,4700.0,-12500,-4700,-7800,0.0
219,10612,John Gonzales Silva,126700,13500,0,8000.0,148200,107900,107900,NaN,256100.0,-6500,-6500,0,249600.0,-15100,-15100,0,234500.0
193,10612,John Gonzales Silva,201900,18250,0,0.0,220150,85500,85500,0,305650.0,-70025,-70025,0,235625.0,-15100,-15100,0,220525.0
175,10612,,49700,10000,0,0.0,59700,49900,49900,0,109600.0,-80440,-80440,0,29160.0,-13164,-13164,0,15996.0
174,10612,,58150,7000,0,NaN,NaN,85050,85050,0,NaN,-17927,NaN,NaN,NaN,-10968,NaN,NaN,NaN
159,10612,,99775,24000,0,22000.0,145775,51350,51350,0,197125.0,-62912,-62912,0,134213.0,-10968,-10968,0,123245.0
222,10612,,99650,23300,0,12000.0,134950,79000,79000,0,NaN,-67291,NaN,NaN,NaN,0,NaN,NaN,NaN
139,10612,,0,0,0,0.0,0,0,0,0,0.0,0,0,0,0.0,0,0,0,0.0

In [14]:
RT_Summary = pd.DataFrame(columns = RT_Detail.columns)
RT_Summary

Empty DataFrame
Columns: [id, nombre, Producción, Propinas, Ganancia Sampling, Bonos e Incentivos, Ganancias sin Garantía, Garantías Efectivas, Garantías Efectivas2, Liberaciones por semana, Subtotal Ganancias, efectivoRT, efectivoRT real, efectivoRT
pendiente, Subtotal - Efectivo, Descto Equipo, Descto Equipo efectivo, Dif, Total a Pagar]
Index: []

In [15]:
RT_Summary = RT_Detail.groupby('id').sum()

In [16]:
RT_Summary

,Bonos e Incentivos,Subtotal Ganancias,Subtotal - Efectivo,Total a Pagar
id,,,,
10612,42000.0,873175.0,653298.0,594266.0