In [1]:
import pandas as pd
import numpy as np
import os
import datetime

In [2]:
dfs = {}

In [3]:
mainpath = "C:/Users/mromo/Desktop/Rappi/Datasets"
#24, 25, 26, 27
special_path = "C:/Users/mromo/Desktop/Rappi/Datasets/S27/Consolidado RTs S27.xlsx"
special_path2 = "C:/Users/mromo/Desktop/Rappi/Datasets/S27/Consolidado RTs S27.xlsx"

In [4]:
for x in range (24,28):
    semana = str(x)
    dfs[x] = pd.read_excel(special_path,'Resumen s'+semana, header = 1)

In [5]:
for x in range (28,32):
    semana = str(x)
    path = mainpath + "/S"+semana+"/Consolidado RTs S"+semana+".xlsx"
    print("Leyendo: "+path)
    dfs[x] = pd.read_excel(path,'resumen')

Leyendo: C:/Users/mromo/Desktop/Rappi/Datasets/S28/Consolidado RTs S28.xlsx
Leyendo: C:/Users/mromo/Desktop/Rappi/Datasets/S29/Consolidado RTs S29.xlsx
Leyendo: C:/Users/mromo/Desktop/Rappi/Datasets/S30/Consolidado RTs S30.xlsx
Leyendo: C:/Users/mromo/Desktop/Rappi/Datasets/S31/Consolidado RTs S31.xlsx

In [6]:
def createDummies(df,var_name):
    dummy = pd.get_dummies(df[var_name], prefix = var_name)
    df = df.drop(var_name, axis=1)
    df = pd.concat([df,dummy], axis =1)
    return df

In [7]:
for x in range(31,40):
    semana = str(x)
    dfx = pd.read_excel(mainpath + "/S"+semana+"/Resumen S"+semana+".xlsx", 'Resumen Ganancia')
    dfy = pd.read_excel(mainpath + "/S"+semana+"/Resumen S"+semana+".xlsx", 'Resumen Deuda')
    dfx = dfx.drop('model_id', axis =1)
    dfy = dfy.drop('model_id', axis =1)
    dft = pd.merge(dfx,dfy, how = 'outer', on =['storekeeper_id', 'created_at', 'name', 'total']).sort_values('storekeeper_id')
    dft = dft.drop('dispersion_id', axis =1)
    dft = dft.groupby(['storekeeper_id','name']).total.sum().reset_index()
    dfs[x] = dft

In [8]:
t = pd.merge(dfs[36],dfs[37], how = 'outer', on =['storekeeper_id', 'name','total']).sort_values('storekeeper_id')
t = t[t['name']!='past_debt_manual_debt']
t = t.groupby(['storekeeper_id','name']).total.sum().reset_index()
z = pd.merge(dfs[38],dfs[39], how = 'outer', on =['storekeeper_id', 'name','total']).sort_values('storekeeper_id')
z = z[z['name']!='past_debt_manual_debt']
z = z.groupby(['storekeeper_id','name']).total.sum().reset_index()
df_septiembre = pd.merge(t,z,how='outer', on=t.columns.tolist())

In [9]:
#Junio
df_junio = dfs[24]
for x in range(25,27):
    df_junio = pd.merge(df_junio,dfs[x], how ='outer', on =df_junio.columns.tolist())

In [10]:
indice = dfs[29].columns.tolist()
dfs[29].columns.size

21

In [11]:
dfs[30].columns.size

21

#Julio
df_julio = dfs[29]
for x in range(30,32):
    df_julio = pd.merge(df_julio,dfs[x], how ='outer', on =df_julio.columns.tolist())

In [12]:
#Agosto
df_agosto = dfs[31]
for x in range(32,36):
    df_agosto = pd.merge(df_agosto,dfs[x], how ='outer', on =df_septiembre.columns.tolist())

In [13]:
#Septiembre
df_septiembre = dfs[36]
for x in range(37,40):
    df_septiembre = pd.merge(df_septiembre,dfs[x], how ='outer', on =df_septiembre.columns.tolist())

In [14]:
dfs[28].head()

,id,dias trabajados,Conexi처n (horas),Cupos Reservados,Cupos Cumplidos,Cumplimiento (%),N째 Ordenes Producci처n,Producci처n Semanal,Propinas,Sampling,Promos,Bonos,Subtotal Ganancias,Total efectivoRT,Dcto efectivoRT real,Descto Equipamiento,Total a Pagar,deuda Pendiente
0,10042,1,0.1875,0,0,0.000000,0,0,0,0,0,0.0,0.0,0,0,0,0.0,0
1,10045,7,54.6993,41,31,0.756098,83,133700,32624,0,43700,24000.0,234024.0,-52115,-52115,-12500,169409.0,0
2,10046,3,3.3617,0,0,0.000000,2,2800,1000,0,0,0.0,3800.0,-67637,-3800,0,0.0,-63837
3,10047,6,5.4211,0,0,0.000000,1,1400,1100,0,0,0.0,2500.0,0,0,-2500,0.0,0
4,10048,7,71.8145,47,39,0.829787,74,123800,28000,0,111000,10000.0,272800.0,-44709,-44709,-12300,215791.0,0

In [15]:
df_junio.to_excel("C:/Users/mromo/Desktop/Rappi/Datasets/Resumen Total Junio 2018.xlsx")

In [16]:
df_septiembre.to_excel("C:/Users/mromo/Desktop/Rappi/Datasets/Resumen Total Septiembre 2018.xlsx")

In [17]:
df_agosto.to_excel("C:/Users/mromo/Desktop/Rappi/Datasets/Resumen Total Agosto 2018.xlsx")