In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
mainpath1 = "C:/Users/mromo/Desktop/Rappi/Datasets/S35/Data"
filepath1 = "Detalle Ganancia S35.csv"
mainpath2 = "C:/Users/mromo/Desktop/Rappi/Datasets/S36/Data"
filepath2 = "Detalle Ganancia S36.csv"
mainpath3 = "C:/Users/mromo/Desktop/Rappi/Datasets/S37/Data"
filepath3 = "Detalle Ganancia S37.xlsx"
mainpath4 = "C:/Users/mromo/Desktop/Rappi/Datasets/S38/Data"
filepath4 = "Detalle Ganancia S38.csv"
mainpath5 = "C:/Users/mromo/Desktop/Rappi/Datasets/S39/Data"
filepath5 = "Detalle Ganancia S39.csv"

In [3]:
fullpath1 = os.path.join(mainpath1,filepath1)
fullpath2 = os.path.join(mainpath2,filepath2)
fullpath3 = os.path.join(mainpath3,filepath3)
fullpath4 = os.path.join(mainpath4,filepath4)
fullpath5 = os.path.join(mainpath5,filepath5)

In [4]:
df35 = pd.read_csv(fullpath1)
df36 = pd.read_csv(fullpath2)
df37 = pd.read_excel(fullpath3)
df38 = pd.read_csv(fullpath4)
df39 = pd.read_csv(fullpath5)

In [5]:
tp35 = df35[df35['name']=='service_cost']
total35 = tp35.total.sum()
neto35 = tp35.total.count()*1400
final35 = total35-neto35
print(final35)

2047600.0

In [6]:
tp36 = df36[df36['name']=='service_cost']
total36 = tp36.total.sum()
neto36 = tp36.total.count()*1400
final36 = total36-neto36
print(final36)

2201991.0

In [7]:
tp37 = df37[df37['name']=='service_cost']
total37 = tp37.total.sum()
neto37 = tp37.total.count()*1400
final37 = total37-neto37
print(final37)

6184262

In [8]:
tp38 = df38[df38['name']=='service_cost']
total38 = tp38.total.sum()
neto38 = tp38.total.count()*1400
final38 = total38-neto38
print(final38)

1720365.0

In [9]:
tp39 = df39[df39['name']=='service_cost']
total39 = tp39.total.sum()
neto39 = tp39.total.count()*1400
final39 = total39-neto39
print(final39)

3400389.0

In [28]:
ts35 = df35[df35['name']=='sampling']
sampling35 = ts35.total.sum()
print(sampling35)

68600.0

In [29]:
ts36 = df36[df36['name']=='sampling']
sampling36 = ts36.total.sum()
print(sampling36)

180600.0

In [30]:
ts37 = df37[df37['name']=='sampling']
sampling37 = ts37.total.sum()
print(sampling37)

1120000

In [31]:
ts38 = df38[df38['name']=='sampling']
sampling38 = ts38.total.sum()
print(sampling38)

11200.0

In [32]:
ts39 = df39[df39['name']=='sampling']
sampling39 = ts39.total.sum()
print(sampling39)

14000.0

In [21]:
tsur35 = df35[df35['name']=='surcharge_paid_for_rappi']
surcharge35 = tsur35.total.sum()
print(surcharge35)

1289150.0

In [22]:
tsur36 = df36[df36['name']=='surcharge_paid_for_rappi']
surcharge36 = tsur36.total.sum()
print(surcharge36)

803625.0

In [23]:
tsur37 = df37[df37['name']=='surcharge_paid_for_rappi']
surcharge37 = tsur37.total.sum()
print(surcharge37)

1139325

In [24]:
tsur38 = df38[df38['name']=='surcharge_paid_for_rappi']
surcharge38 = tsur38.total.sum()
print(surcharge38)

801900.0

In [27]:
tsur39 = df39[df39['name']=='surcharge_paid_for_rappi']
surcharge39 = tsur39.total.sum()
print(surcharge39)

1127275.0

In [33]:
ts39

,storekeeper_id,created_at,name,model_id,total,description
7016,10821,2018-09-28 10:29:13.399,sampling,2432,1400.0,NaN
7538,10866,2018-09-28 16:51:35.611,sampling,2434,1400.0,NaN
7539,10866,2018-09-28 16:52:05.781,sampling,2435,1400.0,NaN
7540,10866,2018-09-28 16:52:09.343,sampling,2436,1400.0,NaN
7541,10866,2018-09-28 16:52:14.67,sampling,2437,1400.0,NaN
7542,10866,2018-09-28 16:52:22.283,sampling,2438,1400.0,NaN
7543,10866,2018-09-28 16:52:27.954,sampling,2439,1400.0,NaN
7544,10866,2018-09-28 16:52:35.848,sampling,2440,1400.0,NaN
7545,10866,2018-09-28 16:52:39.578,sampling,2441,1400.0,NaN
7546,10866,2018-09-28 16:53:53.026,sampling,2444,1400.0,NaN